:root {
    --hero-color: #1c1d25;
    --main-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: poppins, sans-serif;
    margin: 0;
    position: relative;
    
}

section {
    background-color: var(--main-color); 
    /* border: solid 1px red; */
}

.hero {
    background-color: var(--hero-color);
    height: 100vh;
    color: var(--main-color);
    font-size: 30px;
}

footer {
    background-color: black;
    text-align: right;
    color: var(--main-color);
    padding: 10px;
}

footer > p {
    font-size: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    width: 100vw;
    padding-top: 10px;
    top: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

li {
    text-decoration: none;
    
}

h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
}

.sub-text {
    font-size: 15px;
    font-weight: 300;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: 	#FFD700;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
    color: #1c1d25;
}

.button > a {
    color: var(--hero-color);
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #a9a9a9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    border-radius: 20px;
} 

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 180px 100px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
}

/* .sub-section-alt > h2 {
    margin-bottom: 40px;
} */


.headshot {
    width: 250px;
    border-radius: 125px;
    margin-left: 80px; 
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px #716f6f;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


.project-img {
    margin-top: 20px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.hamburger {
    border: none;
    background-color: transparent;
    font-size: 40px;
    display: none;
}