:root {
    --hero-color: #1c1d25;
    --main-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: poppins, sans-serif;
    margin: 0;
    position: relative;
    
}

section {
    background-color: var(--main-color); 
}

.hero {
    background-color: var(--hero-color);
    height: 100vh;
    color: var(--main-color);
    font-size: 30px;
}

footer {
    background-color: black;
    text-align: right;
    color: var(--main-color);
    padding: 10px;
}

footer > p {
    font-size: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    width: 100vw;
    padding-top: 10px;
    top: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 40px;
}


li {
    text-decoration: none;
}

ul > li > a:hover {
    color: #FFD700;
}

ul > li > a:active {
    color: #808080;
}



h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

p {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
}

.sub-text {
    font-size: 15px;
    font-weight: 300;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 50px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-name {
    display: inline-flex;
    flex-wrap: wrap;
}

#code-icon {
    margin: 60px 0px 50px 30px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: 	#FFD700;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
    color: #1c1d25;
}

.button > a {
    color: var(--hero-color);
}

.button:hover {
    background-color: rgb(209, 215, 46);
    
}

.button:active {
    background-color: #a9a9a9;
    color: #808080;
}

.socials {
    padding-bottom: 50px;
}

.logo {
    height: 80px;
} 

.social {
    margin: 40px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 180px 100px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
}

.headshot {
    width: 250px;
    border-radius: 125px;
    margin-left: 80px; 
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px #716f6f;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-img {
    margin-top: 20px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #FFD700;
    font-weight: 600;
}

.project-link:hover {
    color: rgb(209, 215, 46);
}

.project-link:active {
    color: #808080;
}


a {
    text-decoration: none;
    color: var(--main-color);
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        font-size: 30px;
        margin-right: 40px;
    }

    ul {
        display: none;
    }

    .nav-list.show {
        display: block;
    }

}

@media only screen and (max-width: 1000px) {
    .hero {
        font-size: 20px;
    }

    .logo {
        height: 30px;
    }

    h1 {
        font-size: 50px;
    }

    #code-icon {
        margin: 40px 0px 50px 30px;
    }
}